{% extends "richie/base.html" %}
{% load i18n cms_tags menu_tags static %}

{% block meta %}
<link href="https://fonts.googleapis.com/css?family=Raleway:500,500i,700,900&display=swap" rel="stylesheet">
{% endblock meta %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'instart/css/main.css' %}">
{% endblock css_links %}

{% block body_footer %}
<div class="body-footer">
    <div class="body-footer-inner">
        <div class="body-footer__partner">
            <a href="/" class="body-footer__partner__link">
                <img src="{% static "images/logo-instn.png" %}" class="body-footer__partner__logo" alt="Instn">
            </a>
        </div>
        <div class="body-footer__menu">
            {% static_placeholder "footer" %}
        </div>
        <div class="body-footer__partner">
            <a href="/" class="body-footer__partner__link">
                <img src="{% static "images/logo-cea.png" %}" class="body-footer__partner__logo" alt="CEA">
            </a>
        </div>
    </div>
</div>
{% endblock body_footer %}
