// Course glimpses
//
// A flex grid of course cards


.course-glimpse-list {
    @include make-container-max-widths();
    color: var(--color-white);
    display: flex;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__title {
        @include sv-flex(1, 0, 100%);
        margin: 0;
        padding: 0.5rem;
    }

    &__count {
        flex-basis: 100%; // Should not wrap with actual course glimpses
        margin-bottom: rem-calc(47px);

        &:first-child {
            margin-top: -1rem; // Cancel out top padding
        }
    }
}

.course-glimpse {
    $glimpse-item-selector: &;
    margin-bottom: var(--space-lg);
    text-decoration: none;

    // Cell base width for lowest breakpoint
    @include sv-flex(
                    1,
                    0,
                    100%
    );

    // Apply card styles for elements
    @include m-o-card(
            $background: var(--color-white),
            $caption-width: 60%,
            $caption-margin: 0,
            $caption-padding: 0.6rem 0.5rem,
            $caption-fontsize: 0.9rem,
            $caption-background: var(--color-contrat-lower),
            $wrapper-padding: 0.25rem 1.25rem 1.563rem,
            $foot-divider: null,
            $methodology: 'bem'
    );

    &__content {
        font-size: 0.9rem;
        color: var(--color-primary-darker);

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        p {
            order: 1;
        }

        p.course-glimpse__content__title {
            color: var(--color-primary);
            font-size: 1rem;
            font-weight: 900;
            letter-spacing: 0.075em;
            line-height: calc(19 / 16);
            margin-top: 1.25rem;
            order: 2;
            text-transform: uppercase;
        }
    }

    &__media {
        &__caption {
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1.1;
            text-align: center;
        }

        @include m-o-media_empty(
                $width: 100%,
                $height: 16vh,
                $background: $gray97,
                $absolute: false
        );
    }

    &__icon {
        align-items: center;
        @include flex-sb();
        transform: translateY(-50%);

        &__band {
            font-size: 0.8rem;
            height: rem-calc(28px);
            padding: 0.2rem 0.5rem;
            position: relative;
            width: pxtopc(202, 248);

            &__end {

                &:after {
                    background-color: inherit;
                    content: '';
                    display: block;
                    position: absolute;
                    right: rem-calc(-10px);
                    top: 0;


                    width: 0;
                    height: 0;
                    border-bottom: rem-calc(14px) solid transparent;
                    border-left: rem-calc(10px) solid transparent;
                    border-left-color: inherit;
                    border-top: rem-calc(14px) solid transparent;
                }
            }


        }

        img {
            height: pxtoem(30);
            width: pxtoem(30);
        }
    }

    // A little specific makeup onto footer elements
    &__footer {
        display: flex;
        flex-direction: column;

        &__date {
            @include sv-flex-cell-width(auto);
            background-color: var(--color-primary);
            color: var(--color-white);
            font-weight: bold;
            letter-spacing: 0.075em;
            line-height: 1.4;
            justify-content: center;
            margin: 0;
            padding: 1rem 1.25rem;

            span {
                text-transform: uppercase;
            }
        }

        &__cta {

            .button {
                @include sv-flex-cell-width(100%);
                background-color: var(--color-primary-dark);
                border: 0;
                border-top: 1px solid var(--color-primary-darker);
                color: var(--color-white);
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 0.075em;
                line-height: 1.4;
                margin: 0;
                padding: 1rem 0.5rem;
                transition: background 200ms linear;
                width: 100%;

                &:hover {
                    background-color: var(--color-primary);
                }
            }
        }
    }

    &:hover,
    &:focus {

        #{$glimpse-item-selector}__foot__cta .button {
            background: var(--color-primary-darker);
        }
    }

    // Responsive adjustments
    @include breakpoint(md) {
        @include sv-flex(
                        1,
                        0,
                        48%
        );
        margin-left: 4%;

        &:nth-of-type(2n + 1) {
            margin-left: 0;
        }
    }

    @include breakpoint(lg) {
        @include sv-flex(
                        1,
                        0,
                        31%
        );
        margin-left: 3.5%;

        &:nth-of-type(2n + 1) {
            margin-left: 3.5%;
        }
        &:nth-of-type(3n + 1) {
            margin-left: 0;
        }
    }

    // Special row when there is no entry
    &--empty {
        @include sv-flex(
                        1,
                        0,
                        100%
        );
        padding: 1rem;
        font-style: italic;
        color: $gray40;
        text-align: center;
        cursor: default;
    }
}
