// Person glimpse
//

// Common container for glimpse list
.person-glimpse-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {
        @include page-title;
        background: linear-gradient(0deg, #0F466D 0%, var(--color-primary) 100%);
        margin: 0;
        padding: rem-calc(30px) 5%;
        width: 100%;


        @include breakpoint(sm) {
            padding-top: rem-calc(60px);
            padding-bottom: rem-calc(45px);
        }

        @include breakpoint(md) {
            @include make-inner-paddings();
        }
    }
}

// Glimpse object
.person-glimpse {
    $glimpse-item-selector: &;

    // Cell base width for lowest breakpoint
    @include sv-flex(
                    1,
                    0,
                    100%
    );

    background: linear-gradient(0deg, var(--color-primary-darker) 0%, var(--color-primary) 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: pxtoem(24) 5%;
    text-decoration: none;

    &__media {
        img {
            display: block;
        }
    }

    &__content {
        padding-top: 1rem;
        width: 100%;

        &__wrapper {
            position: relative;
        }

        a {
            display: block;
            position: relative;
            text-decoration: none;

            &:before,
            &:after {
                content: '';
                display: block;
                height: rem-calc(30px);
                position: absolute;
                right: 0;
                top: rem-calc(-6px);
                width: rem-calc(30px);
            }

            &:before {
                background: url('../../images/icon-plus.svg') center center no-repeat;
                background-size: 12px;
                transition: transform 300ms ease-out;
                transform: rotate(0deg);
                z-index: 2;
            }
            &:hover:before {
                transform: rotate(90deg);
            }

            &:after {
                background-color: var(--color-primary);
                transition: background-color 200ms linear;
                z-index: 1;
            }
            &:hover:after {
                background-color: var(--color-primary-dark);
            }
        }
    }

    &__foot {
        margin-top: var(--space-lg);
        width: 100%;

        .category-plugin-tag {
            font-size: pxtoem(14);
            font-weight: bold;
            margin-bottom: pxtoem(12,14);
        }
    }

    &__content__wrapper__title {
        font-size: rem-calc(16px);
        margin-bottom: 1em;
        padding-right: rem-calc(50px);

        @include breakpoint(xs) {
            font-size: rem-calc(18px);
        }
    }

    &__content__wrapper__categories {
        margin-bottom: 0.6rem;
    }

    &__content__wrapper__bio {
        font-size: pxtoem(14);
    }

    // Responsive adjustments
    @include breakpoint(xs) {
        @include sv-flex(
                        1,
                        0,
                        50%
        );

        &__media {
            img {
                display: block;
            }
        }
        &:nth-of-type(odd) {
            background: linear-gradient(180deg, var(--color-primary-darker) 0%, var(--color-primary) 100%);
        }
    }

    @include breakpoint(md) {
        @include make-inner-paddings();
        flex-direction: row;
        justify-content: space-between;

        @include sv-flex(
                        1,
                        0,
                        50%
        );
        &:nth-of-type(even) {
            @include make-right-padding();
        }
        &:nth-of-type(odd) {
            @include make-left-padding();
        }
        &__content {
            padding: 0 0 0 pxtoem(30);
            width: calc(100% - 6.8125em); // 109px

            a:before,
            a:after {
                right: pxtoem(-30);
                top: 0;
            }
        }

        &__content__wrapper__title {
            margin-bottom: 1em;
        }

        &__media {
            img {
                max-width: pxtoem(109);
            }
        }
    }

    @include breakpoint(lg) {
        &:nth-of-type(even) {
            padding-left: pxtoem(154);
        }
        &:nth-of-type(odd) {
            padding-right: pxtoem(154);
        }
    }
}
