.category-detail {
    padding-bottom: 1rem;
    background: var(--richie-content-container-bg);

    &__logo,
    &__banner,
    &__banner__empty {
        display: none;
    }
    &__title {
        @include page-title;
        background: linear-gradient(0deg, #0F466D 0%, var(--color-primary) 100%);
        margin: 0;
        padding: rem-calc(30px) 5%;
        width: 100%;


        @include breakpoint(sm) {
            padding-top: rem-calc(60px);
            padding-bottom: rem-calc(45px);
        }

        @include breakpoint(md) {
            @include make-inner-paddings();
        }
    }

    &__content,
    .course-glimpse-list,
    .person-glimpse-list,
    .blogpost-glimpse-list {
        max-width: unset;
        padding: var(--space-md) 5%;

        @include breakpoint(md) {
            @include make-inner-paddings();
        }
    }

    .course-glimpse-list__title {
        padding-left: 0;
        padding-right: 0;
    }

    .person-glimpse-list__title,
    .blogpost-glimpse-list__title {
        background: none;
        font-size: pxtoem(20);
        margin-bottom: 0;
        padding: 0.5rem 0;

        &:before {
            display: none;
        }
    }

    .person-glimpse-list,
    .blogpost-glimpse-list,
    .course-glimpse-list {
        @include breakpoint(xs) {
            justify-content: space-between;
        }
        @include breakpoint(sm) {
            justify-content: flex-start;
        }
    }

    .course-glimpse {
        @include breakpoint(xs) {
            @include sv-flex(0, 0, 48%);
        }
        @include breakpoint(sm) {
            @include sv-flex(0, 0, 32%);
            margin-left: 2%;

            &:nth-of-type(3n + 1) {
                margin-left: 0;
            }
        }
        @include breakpoint(lg) {
            @include sv-flex(0, 0, 22%);
            margin-left: 4%;

            &:nth-of-type(3n+1) {
                margin-left: 4%;
            }
            &:nth-of-type(4n+1) {
                margin-left: 0;
            }
        }
    }

    .person-glimpse,
    .blogpost-glimpse {
        @include breakpoint(xs) {
            @include sv-flex(0, 0, 48%);
        }
        @include breakpoint(sm) {
            @include sv-flex(0, 0, 32%);
            margin-left: 2%;
            padding: 1.25rem;

            &:nth-of-type(3n + 1) {
                margin-left: 0;
            }
        }
        @include breakpoint(lg) {
            @include sv-flex(0, 0, 22%);
            margin-left: 4%;

            &:nth-of-type(3n+1) {
                margin-left: 4%;
            }
            &:nth-of-type(4n+1) {
                margin-left: 0;
            }
        }
    }

    .person-glimpse {
        @include breakpoint(sm) {
            flex-direction: column;

            &__media img {
                max-width: unset;
            }

            &__content {
                padding: var(--space-sm) 0;
                width: auto;

                &__wrapper a {
                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

}
