$richie-course-detail-content-width-large: 70% !default;

$richie-course-detail-row-title-fontcolor: $dodgerblue3 !default;

$richie-course-detail-categories-padding: 0.5rem 1rem 0 !default;
$richie-course-detail-categories-justify: center !default;
$richie-course-detail-categories-empty-fontcolor: $gray40 !default;
$richie-course-detail-categories-empty-textalign: center !default;

$richie-course-detail-organizations-item-gutter: 0.625rem !default;

$richie-course-detail-run-background: $dodgerblue1 !default;
$richie-course-detail-run-gutter: 0.5rem !default;
$richie-course-detail-run-width-large: 33.33% !default;
$richie-course-detail-run-margin: 0 !default;
$richie-course-detail-run-padding: 1rem 2rem !default;
$richie-course-detail-run-fontcolor: $white !default;

$richie-course-detail-synopsis-background: $dodgerblue1 !default;
$richie-course-detail-synopsis-margin: 0 !default;
$richie-course-detail-synopsis-padding: 1rem 2rem !default;
$richie-course-detail-synopsis-fontcolor: $white !default;

$richie-course-detail-socialnetworks-background: $dodgerblue1 !default;
$richie-course-detail-socialnetworks-margin: 0 !default;
$richie-course-detail-socialnetworks-padding: 1rem 2rem !default;
$richie-course-detail-socialnetworks-fontcolor: $white !default;

$richie-course-detail-team-gutter: 0.5rem !default;
$richie-course-detail-team-width-large: 100% !default;
$richie-course-detail-team-title-fontsize: 1.4rem !default;

$richie-course-detail-license-margin: 1rem 0 0 0 !default;
$richie-course-detail-license-title-margin: 0 0 0.75rem 0 !default;
$richie-course-detail-license-title-fontcolor: $dodgerblue3 !default;

$richie-course-detail-aside-with-large: 30% !default;
$richie-course-detail-aside-margin: 0 !default;
$richie-course-detail-aside-padding: 0 !default;

$richie-course-detail-aside-main-org-margin: 0 !default;
$richie-course-detail-aside-main-org-padding: 2rem !default;
$richie-course-detail-aside-main-org-background: $white !default;

.course-detail {
    @include make-container();
    @include make-container-max-widths();
    margin: 0 auto;
    padding-top: rem-calc(60px);

    @include breakpoint(lg) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__content {
        @include sv-flex-cell-width(100%);
        background: var(--richie-content-container-bg);

        @include breakpoint(lg) {
            padding-right: pxtopc(169,1360);
        }

        &--two {
            @include breakpoint(lg) {
                @include sv-flex-cell-width($richie-course-detail-content-width-large);
            }
        }

        &__snapshot {
            padding: 1rem 0 0;
            text-align: center;

            &__date {
                color: $firebrick6;
            }
        }

        &__title {
            font-size: rem-calc(30px);
            font-weight: 500;
            letter-spacing: 0.075em;
            line-height: calc(38 / 30);
            margin: 0;
            padding: 0;
            position: relative;
            text-transform: uppercase;

            &:before {
                background: url('../../images/arrow-marker.svg') rem-calc(-55px) 0 no-repeat;
                background-size: cover;
                content: '';
                display: block;
                height: 70px;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translate(-100%,-50%);
                width: 278px;
            }
        }

        &__row {
            $row-selector: &;
            margin: pxtoem(40) 0 0;
        }

        &__run {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 1rem;
            padding: 1rem;
            color: $white;
            background: $richie-course-detail-run-background;

            &__title {
                width: 100%;
                margin: 0;
                padding: 0.5rem 0.1rem 0;
                font-size: 1.8rem;
                color: $dodgerblue5;
                line-height: 1.1;
                text-align: center;
            }

            &__block {
                padding: 1rem 0;
                margin: $richie-course-detail-run-gutter;

                @include sv-flex(
                                1,
                                0,
                                calc(100% - #{$richie-course-detail-run-gutter * 2})
                );

                @include breakpoint(lg) {
                    @include sv-flex(
                                    1,
                                    0,
                                    calc(
                                            #{$richie-course-detail-run-width-large} - #{$richie-course-detail-run-gutter *
                2}
                                    )
                    );
                }

                &--full {
                    @include sv-flex(
                                    1,
                                    0,
                                    calc(100% - #{$richie-course-detail-run-gutter * 2})
                    );
                }

                a {
                    color: white;
                }

                dl {
                    margin-bottom: 0;

                    dt {
                        font-weight: bold;
                        text-transform: uppercase;

                        &:not(:first-child) {
                            margin-top: 0.8rem;
                        }
                    }

                    dd {
                        margin-bottom: 0;
                    }
                }

                &__cta {
                    display: block;
                    width: 100%;
                    margin-top: 1.5rem;
                    padding: 0.3rem;
                    color: $white;
                    text-align: center;
                    text-transform: uppercase;
                    background: $dodgerblue5;
                    border: 0;

                    &:hover {
                        color: $white;
                        text-decoration: none;
                        background: lighten($dodgerblue5, 5%);
                    }

                    &--archived,
                    &--projected {
                        color: $gray40;
                        background: $gray80;

                        &:hover {
                            color: $gray40;
                            background: $gray80;
                        }
                    }
                }
            }
        }

        &__categories {
            display: flex;
            padding: $richie-course-detail-categories-padding;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: $richie-course-detail-categories-justify;

            &__placeholder {
                @include sv-flex(1, 0, 100%);
                font-style: italic;
                color: $richie-course-detail-categories-empty-fontcolor;
                text-align: $richie-course-detail-categories-empty-textalign;
                background: transparent;

                &:hover {
                    color: $richie-course-detail-categories-empty-fontcolor;
                }
            }
        }

        &__teaser {
            @include sv-flex-cell-width(100%);
            margin: pxtoem(110) 0 0;
            padding: 0;
            /**
            * Code below replicate .reponsive-embed from Bootstrap with forced 16/9
            * cause we cannot use object-fit since it is not compatible under IE
            * Edge 16. For not forced ratio we may use something like flex-video
            * (which involve some JS)
            */
            position: relative;
            display: block;
            overflow: hidden;

            &::before {
                display: block;
                content: '';
                padding-top: percentage(9 / 16);
            }

            iframe,
            embed,
            object,
            img,
            video {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                min-height: 100%;
                border: 0;
            }

            @include m-o-media_empty($background: $gray97);
        }

        &__team {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &__title {
                @include sv-flex(1, 0, 100%);
            }

            .person-glimpse {
                @include sv-flex(
                                1,
                                0,
                                calc(100% - #{$richie-course-detail-team-gutter * 2})
                );
                margin: $richie-course-detail-team-gutter;

                @include breakpoint(lg) {
                    @include sv-flex(
                                    1,
                                    0,
                                    calc(
                                            #{$richie-course-detail-team-width-large} - #{$richie-course-detail-team-gutter *
                2}
                                    )
                    );
                }

                &__content__title {
                    font-size: $richie-course-detail-team-title-fontsize;
                    text-transform: uppercase;
                }
            }
        }

        &__organizations {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .organization-plugin-container {
                @include sv-flex(
                                1,
                                0,
                                calc(100% - #{$richie-course-detail-organizations-item-gutter * 2})
                );
                display: flex;
                min-width: auto;
                margin: $richie-course-detail-organizations-item-gutter;
                padding: 0;
                @include breakpoint(sm) {
                    @include sv-flex(
                                    1,
                                    0,
                                    calc(50% - #{$richie-course-detail-organizations-item-gutter * 2})
                    );
                }
                @include breakpoint(md) {
                    @include sv-flex(
                                    1,
                                    0,
                                    calc(25% - #{$richie-course-detail-organizations-item-gutter * 2})
                    );
                }

                .organization-plugin {
                    @include sv-flex(1, 0, 100%);
                    margin: 0;
                }
            }
        }

        &__license {
            &__item {
                margin: $richie-course-detail-license-margin;

                &__title {
                    margin: $richie-course-detail-license-title-margin;
                    color: $richie-course-detail-license-title-fontcolor;
                }
            }
        }
    }

    &__aside {
        @include sv-flex-cell-width(100%);
        margin: $richie-course-detail-aside-margin;
        padding: $richie-course-detail-aside-padding;

        @include breakpoint(lg) {
            @include sv-flex-cell-width(#{$richie-course-detail-aside-with-large});
        }

        &__main-org-logo {
            position: relative;
            display: block;
            margin: $richie-course-detail-aside-main-org-margin;
            background: $richie-course-detail-aside-main-org-background;
            padding: 0 0 56.25%; // Aspect ratio 16/9
            // Use a border to emulate the padding as we need padding for aspect ratio enforcement
            border: $richie-course-detail-aside-main-org-padding solid $richie-course-detail-aside-main-org-background;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }

            @include m-o-media_empty($width: 100%, $height: 20vh, $absolute: false);
        }

        &__cover {
            margin-top: 1.4rem;
            @include breakpoint(lg) {
                margin-top: unset;
            }

            img {
                display: block;
                width: 100%;
                max-width: 100%;
            }

            @include m-o-media_empty(
                    $width: 100%,
                    $height: 15vh,
                    $background: $gray97,
                    $absolute: false
            );
        }

        &__synopsis {
            margin: $richie-course-detail-synopsis-margin;
            padding: $richie-course-detail-synopsis-padding;
            color: $richie-course-detail-synopsis-fontcolor;
            background: $richie-course-detail-synopsis-background;

            span[class^='icon-'] {
                display: inline-block;
                margin-right: 0.7rem;
            }

            dl {
                float: left;
                width: 100%;
            }

            dt {
                float: left;
                clear: left;
                margin-right: 0.5rem;
            }

            dd {
                float: left;
            }
        }

        &__social-networks {
            margin: $richie-course-detail-socialnetworks-margin;
            padding: $richie-course-detail-socialnetworks-padding;
            color: $richie-course-detail-socialnetworks-fontcolor;
            background: $richie-course-detail-socialnetworks-background;
        }

        &__run {
            margin: $richie-course-detail-run-margin;
            padding: $richie-course-detail-run-padding;
            color: $richie-course-detail-run-fontcolor;
            background: $richie-course-detail-run-background;

            &__title {
                margin: 0;
                padding: 0 0.1rem 0;
                font-size: 1.8rem;
                line-height: 1.1;
                text-align: center;
            }

            @include m-o-media_empty(
                    $width: 100%,
                    $height: 10vh,
                    $fontcolor: $white,
                    $background: null,
                    $absolute: false
            );

            &__block {
                $block-selector: &;

                position: relative;
                margin: 0;
                padding: 2rem 0;

                a {
                    color: $white;
                }

                dt {
                    font-weight: bold;
                    text-transform: uppercase;

                    &:not(:first-child) {
                        margin-top: 0.8rem;
                    }
                }

                dd {
                    margin-bottom: 0;
                }

                &__cta {
                    display: block;
                    width: 100%;
                    padding: 0.3rem;
                    color: $white;
                    text-align: center;
                    text-transform: uppercase;
                    background: $dodgerblue5;
                    border: 0;

                    &:hover {
                        color: $white;
                        text-decoration: none;
                        background: lighten($dodgerblue5, 5%);
                    }

                    &--archived,
                    &--projected {
                        color: $gray40;
                        background: $gray80;

                        &:hover {
                            color: $gray40;
                            background: $gray80;
                        }
                    }
                }

                & + #{$block-selector}::before {
                    content: '';
                    display: block;
                    width: 50%;
                    position: absolute;
                    top: 0;
                    left: 25%;
                    border-top: 1px solid darken($gray80, 20%);
                }
            }
        }
    }
}
