.organization-list {
    background: var(--richie-content-container-bg);

    &__title {
        @include page-title;
        background: linear-gradient(0deg, #0F466D 0%, var(--color-primary) 100%);
        margin: 0;
        padding: rem-calc(30px) 1rem;
        width: 100%;

        @include breakpoint(xs) {
            @include make-inner-paddings();
        }

        @include breakpoint(sm) {
            padding-top: rem-calc(60px);
            padding-bottom: rem-calc(45px);
        }
    }

    &__content {
        @include flex-sb;
    }
}
