.cats-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__list {
        @include make-left-padding();
        background-image: linear-gradient(to bottom, #097ab7, #205a8b, #1e3d60, #152239, #010416);
        padding-top: calc(var(--space-lg) * 2);

        &__title {
            @include page-title();
            margin-bottom: var(--space-md);
            text-transform: none;
            width: 100%;
        }

        &__tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            .category-plugin-tag {
                background: url('../../images/tag.svg') 0 50% no-repeat;
                background-size: 30px 7px;
                display: block;
                margin: 0 0 1em;
                padding: 0 rem-calc(20px) 0 rem-calc(60px);
                width: 40%;

                &:nth-child(even) {
                    padding: 0 rem-calc(20px) 0 rem-calc(60px);
                }
            }
        }
    }


    &__cover {
        @include aspect-ratio(930,389);
        overflow: hidden;

        img {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    @include breakpoint(md) {
        &__cover,
        &__list {
            width: 50%;
        }
    }
}
