.homepage__cats-selection {
    @include flex-sb();

    &__list {
        @include make-left-padding();
        background-image: linear-gradient(to bottom, #097ab7, #205a8b, #1e3d60, #152239, #010416);
        order: 2;
        padding:  calc(var(--space-lg) * 2) 5%;

        &__title {
            @include page-title();
            margin-bottom: var(--space-md);
            text-transform: none;
            width: 100%;
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .category-plugin-tag {
                background: url('../../images/tag.svg') 0 50% no-repeat;
                background-size: 30px 7px;
                display: block;
                margin: 0 0 1em;
                padding: 0 rem-calc(20px) 0 rem-calc(60px);
                width: 100%;

                @include breakpoint(sm) {
                    padding-left: rem-calc(40px);
                    width: 45%;
                }
                @include breakpoint(md) {
                    padding-left: rem-calc(60px);
                    width: 100%;
                }
                @include breakpoint(lg) {
                    padding-left: rem-calc(40px);
                    width: 45%;
                }
            }
        }
    }


    &__cover {
        @include aspect-ratio(930,389);
        max-height: pxtoem(433);
        order: 1;
        overflow: hidden;
        width: 100%;

        img {
            @include fitcover();
        }
    }

    @include breakpoint(md) {
        &__list {
            order: 1;
        }
        &__cover {
            order: 2;
        }
        &__cover,
        &__list {
            width: 50%;
        }
    }

    @include breakpoint(lg) {
        &__list {
            padding-bottom:  calc(var(--space-lg) * 1.5);
        }
        &__cover {
            max-height: pxtoem(389);
        }
    }
}

.homepage__last-news {
    @include flex-sb();

    &__cover {
        @include aspect-ratio(930,920);
        max-height: pxtoem(920);
        overflow: hidden;
        width: 100%;

        img {
            @include fitcover();
        }
    }

    &__list {
        padding: calc(var(--space-lg) * 2) 5% rem-calc(80px) 5%;

        &__head {
            @include flex-sb();

            &__title {
                @include section-title();
            }
        }

        &__container {
            .blogpost-glimpse {
                background: none;
            }
        }
    }

    @include breakpoint(sm) {
        &__list {
            &__container {
                @include flex-sb();
            }
        }
        .blogpost-glimpse {
            display: block;
            flex-basis: unset;
            max-width: none;
            padding: 1.5em 0;
            width: 50%;

            &:nth-of-type(2n) {
                padding-left: var(--space-md);
            }
            &:nth-of-type(2n +1) {
                padding-right: var(--space-md);
            }
        }
    }

    @include breakpoint(md) {

        .blogpost-glimpse {
            width: 100%;
        }

        &__cover,
        &__list {
            width: 50%;
        }

        &__list {
            @include make-right-padding();
            padding-left: pxtopc(154,1860);

            &__head {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &__title {
                    margin-bottom: 1.5em;
                }
            }
        }
        .blogpost-glimpse {
            width: 100%;

            &:nth-of-type(2n) {
                padding-left: 0;
            }
            &:nth-of-type(2n +1) {
                padding-right: 0;
            }
        }
    }

    @include breakpoint(lg) {
        &__list {
            padding-left: rem-calc(154px);
        }
    }
}

.homepage__courses-selection {

    &__head {
        @include flex-sb();

        &__content {
            background-image: linear-gradient(to bottom, #e5f4ff, #d2e8f8, #bfdbf1, #accfea, #99c3e3);
            color: var(--color-primary);
            padding-bottom: rem-calc(50px);
            padding-left: 5%;
            padding-right: 5%;
            padding-top: calc(var(--space-lg) * 2);

            &__title {
                @include section-title();
                color: var(--color-primary);
                margin-bottom: 1em;
            }
            &__foot {
                display: flex;
                justify-content: flex-end;
                margin-top: rem-calc(40px);
            }
        }

        &__cover {
            @include aspect-ratio(930,401);
            max-height: pxtoem(401);
            overflow: hidden;
            width: 100%;

            img {
                @include fitcover();
            }
        }
    }

    &__list {
        background-image: linear-gradient(to bottom, #e5f4ff, #d2e8f8, #bfdbf1, #accfea, #99c3e3);
        padding-bottom: rem-calc(18px);
        padding-top: calc(var(--space-lg) * 2);

        &__content {
            padding: 0 5%;
            @include flex-sb();
        }

        // Fix issue with cms hidden placeholder element which trouble alignment
        .cms-placeholder {
            display: none;
        }
    }

    .course-glimpse {
        // Responsive adjustments
        @include breakpoint(xs) {
            width: 48%;
            margin-left: 4%;

            &:nth-of-type(2n + 1) {
                margin-left: 0;
            }
        }


        @include breakpoint(md) {
            width: 22%;
            margin-left: 3%;

            &:nth-of-type(2n + 1) {
                margin-left: 3%;
            }
            &:nth-of-type(4n + 1) {
                margin-left: 0;
            }
        }
    }

    @include breakpoint(md) {
        &__head {
            &__content {
                @include make-left-padding();
                padding-right: pxtopc(154,1860);
            }
            &__cover,
            &__content {
                width: 50%;
            }
        }
        &__list {
            &__content {
                @include make-container();
                @include make-container-max-widths();
            }
        }
    }

    @include breakpoint(lg) {
        &__head {
            &__content {
                padding-right: rem-calc(154px);
            }
        }
    }
}

.homepage__experts-selection {
    background-image: linear-gradient(to bottom, #097ab7, #205a8b, #1e3d60, #152239, #010416);
    @include flex-sb();

    &__cover {
        @include aspect-ratio(930,550);
        max-height: pxtoem(550);
        overflow: hidden;
        width: 100%;

        img {
            @include fitcover();
        }
    }

    &__list {
        padding:  calc(var(--space-lg) * 2) 5% rem-calc(50px);

        &__title {
            @include section-title();
            margin-bottom: 1em;
        }

        &__foot {
            margin-top: rem-calc(40px);
        }

        &__content {
            @include flex-sb();

            &__items {
                @include flex-sb();
                margin-bottom: var(--space-md);
            }

            &__text {
                font-size: pxtoem(14);
            }

            @include breakpoint(xs) {
                flex-wrap: nowrap;

                &__items {
                    flex-wrap: nowrap;
                    width: pxtopc(259,514);
                }

                &__text {
                    width: pxtopc(233,514);
                }
            }

            @include breakpoint(md) {
                flex-wrap: wrap;

                &__items,
                &__text {
                    width: 100%;
                }
            }

            @include breakpoint(lg) {
                flex-wrap: nowrap;

                &__items {
                    flex-wrap: nowrap;
                    margin-bottom: 0;
                    width: pxtopc(259,514);
                }

                &__text {
                    width: pxtopc(233,514);
                }
            }
        }

        .person-glimpse {
            @include sv-flex(
                            1,
                            0,
                            46%
            );
            background: none;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0;

            .category-plugin-tag {
                background: none;
                color: var(--color-primary);
                display: block;
                font-style: italic;
                margin-bottom: 0.25em;
                padding: 0;
                white-space: unset;
            }

            &__foot {
                margin-top: 0;
            }

            &__content__wrapper__bio {
                display: none;
            }

            &__content a:after,
            &__content a:before {
                display: none;
            }

            @include breakpoint(xs) {
                padding-left: 0;
                padding-right: 0;

                &__content {
                    padding: 1rem 0 0;
                    width: 100%;
                }
            }
            @include breakpoint(md) {
                &__media {
                    img {
                        max-width: 100%;
                    }
                }
            }
            @include breakpoint(lg) {
                @include sv-flex(
                                1,
                                0,
                                pxtoem(109)
                );
                &:nth-of-type(even) {
                    padding-left: 0;
                    padding-right: 0;
                }
                &:nth-of-type(odd) {
                    background: none;
                    padding-left: 0;
                    padding-right: 0;
                }
                &__media {
                    img {
                        max-width: pxtoem(109);
                    }
                }
            }
        }
    }


    @include breakpoint(md) {
        &__cover,
        &__list {
            width: 50%;
        }
        &__list {
            @include make-right-padding();
            padding-left: pxtopc(154,1860);
        }
        &__cover {
            max-height: pxtoem(650);
        }
    }

    @include breakpoint(lg) {
        &__cover {
            max-height: pxtoem(550);
        }
    }
}

.homepage__partners {
    @include flex-sb();

    &__intro,
    &__selection {
        padding: calc(var(--space-lg) * 2) 5% rem-calc(50px);
    }

    &__intro {
        background-image: linear-gradient(to bottom, #13243c, #1c1a2c, #1b131d, #130a10, #000000);

        &__icons {
            margin-bottom: calc(var(--space-md) * 2);
        }
        &__title {
            margin-bottom: var(--space-md);
        }

        &__icons {
            @include flex-sb();
            align-items: center;
            max-width: pxtoem(402);

            svg {
                max-width: pxtoem(89);
                width: 20%;
            }
        }

        &__title {
            @include section-title();
        }

        &__foot {
            margin-top: calc(var(--space-md) * 2);
        }
    }
    &__selection {
        background-image: linear-gradient(to bottom, #e5f4ff, #d2e8f8, #bfdbf1, #accfea, #99c3e3);
        color: var(--color-primary);

        &__title {
            margin-bottom: var(--space-md);
        }
        &__content {
            margin-bottom: calc(var(--space-md) * 2);
        }

        &__title {
            color: var(--color-primary);

            a {
                color: var(--color-primary);
            }
        }
        .partner-glimpse-list {
            margin-bottom: var(--space-xl);
        }
    }


    @include breakpoint(md) {
        &__intro,
        &__selection {
            width: 50%;
        }
        &__intro {
            @include make-left-padding();
            padding-right: pxtopc(154,1860);

            &__icons {
                margin-bottom: var(--space-xl);

                svg {
                    width: pxtoem(89);
                }
            }

            &__foot {
                margin-top: var(--space-xl);
            }
        }
        &__selection {
            @include make-right-padding();
            padding-left: pxtopc(154,1860);

            &__title {
                margin-bottom: var(--space-lg);
            }

            &__content {
                margin-bottom: calc(var(--space-lg) * 2);
            }

            .partner-glimpse-list {
                margin-bottom: calc(var(--space-lg) * 2);
            }
        }
    }

    @include breakpoint(lg) {
        &__intro {
            padding-right: pxtoem(154);
        }
        &__selection {
            padding-left: pxtoem(154);
        }
    }
}