// Main body footer

.body-footer {
    padding: 1rem 0;
    color: var(--color-primary-darker);
    background: var(--color-white);


    &__menu {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        order: 1;
        width: 100%;

        @include breakpoint(lg) {
            order: 2;
            width: auto;
        }


        &__list {
            width: 100%;
            max-width: var(--max-width-xl);
            margin: 1em auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            @include breakpoint(sm) {
                justify-content: center;
            }

            @include breakpoint(lg) {
                justify-content: space-between;
                margin: 0;
            }

            &__item {
                color: inherit;
                display: flex;
                font-size: 0.75rem;
                margin: 0;
                padding: 0;
                text-align: center;
                text-transform: uppercase;

                &__link {
                    display: block;
                    padding: 0.3rem;
                    font-weight: normal;
                    color: var(--color-primary-darker);
                    text-decoration: none;

                    &:hover {
                        color: var(--color-primary);
                        text-decoration: none;
                    }
                    @include breakpoint(lg) {
                        padding: 1rem 0.8rem;
                    }
                }
            }
        }
    }

    &__partner {

        &:first-of-type {
            order: 2;
            width: rem-calc(100px);

            @include breakpoint(lg) {
                order: 1;
            }
        }
        &:last-of-type {
            order: 3;
            width: rem-calc(60px);
        }

        &__link {
            display: block;
        }
    }


}

.body-footer-inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;

    @include breakpoint(md) {
        @include make-container();
        @include make-container-max-widths();
        padding: 0 1rem;
    }
}
