// Main body header

$richie-topbar-breakpoint: lg;

$richie-topbar-background: $white !default;

$richie-topbar-hamburger-paddding: 0 1rem !default;
$richie-topbar-hamburger-fontsize: 2rem !default;
$richie-topbar-hamburger-fontcolor: var(--color-primary) !default;
$richie-topbar-hamburger-fontcolor-hover: var(--color-primary) !default;

$richie-topbar-brand-margin: 0 2rem 0 0!default;

$richie-topbar-brand-link-width: rem-calc(172px) !default;

$richie-topbar-menu-list-margin: 0 !default;
$richie-topbar-menu-list-padding: 0 !default;

$richie-topbar-menu-list-fontcolor: $white !default;
$richie-topbar-menu-list-fontcolor-lg: var(--color-primary) !default;
$richie-topbar-menu-list-background: var(--color-primary) !default;
$richie-topbar-menu-list-background-lg: transparent !default;

$richie-topbar-menu-item-margin: 0 !default;
$richie-topbar-menu-item-padding: 0 !default;
$richie-topbar-menu-item-fontcolor: inherit !default;

$richie-topbar-menu-link-padding: 0.313rem 1rem 0.375rem !default;
$richie-topbar-menu-link-fontsize: 1rem !default;
$richie-topbar-menu-link-fontcolor: inherit !default;

$richie-topbar-menu-link-padding-lg: 0.313rem 1.5rem 0.375rem !default;
$richie-topbar-menu-link-fontsize-lg: 1rem !default;
$richie-topbar-menu-link-fontcolor-lg: inherit !default;

$richie-topbar-aside-menu-link-padding: 0.313rem 1rem 0.375rem !default;
$richie-topbar-aside-menu-link-padding-md: 0.313rem 0.7rem 0.375rem !default;
$richie-topbar-aside-menu-link-padding-lg: 0.313rem 0.375rem !default;


$richie-topbar-menu-link-fontcolor-hover: var(--color-primary-light) !default;
$richie-topbar-menu-link-background-hover: lightness(var(--color-primary), 2%) !default;

$richie-topbar-menu-item-active-fontweight: bold !default;
$richie-topbar-menu-item-active-border: rem-calc(4px) solid lightness(var(--color-primary), 8%) !default;
$richie-topbar-menu-item-active-fontweight-lg: 900 !default;
$richie-topbar-menu-item-active-border-height-lg: rem-calc(3px) !default;
$richie-topbar-menu-item-active-border-color-lg: var(--color-primary) !default;

$richie-topbar-menu-cta-fontcolor: $white !default;
$richie-topbar-menu-cta-fontweight: bold !default;
$richie-topbar-menu-cta-background: $firebrick6 !default;

$richie-topbar-menu-cta-hollow-fontcolor: $firebrick6 !default;
$richie-topbar-menu-cta-hollow-fontweight: bold !default;
$richie-topbar-menu-cta-hollow-background: $white !default;

$richie-topbar-menu-divider-border: 1px solid $dodgerblue5 !default;
$richie-topbar-menu-divider-border-lg: 0 !default;

$richie-topbar-menu-item-divider-border: 1px solid $dodgerblue5 !default;
$richie-topbar-menu-item-divider-border-lg: 1px solid $white !default;

.topbar {
    @include make-container();
    @include make-container-max-widths();
    $topbar-selector: &;
    display: flex;
    flex-direction: column;
    padding: 1.625rem 0 1.375rem;
    position: relative;
    z-index: 200;

    @include breakpoint($richie-topbar-breakpoint) {
        align-items: center;
        flex-direction: row;
        background-color: $richie-topbar-background;
    }

    // Will show only on mobile breakpoints
    &__hamburger {
        @include sv-flex(0, 0, auto);
        padding: $richie-topbar-hamburger-paddding;
        border: 0;
        font-size: $richie-topbar-hamburger-fontsize;
        line-height: 1;
        color: $richie-topbar-hamburger-fontcolor;
        background: inherit;
        cursor: pointer;
        order: 2;

        @include breakpoint($richie-topbar-breakpoint) {
            display: none;
        }

        &:hover {
            color: $richie-topbar-hamburger-fontcolor-hover;
        }
    }

    // Brand part with hamburger and clickable logo
    &__brand {
        @include sv-flex(1, 0, auto);
        display: flex;
        flex-direction: row;
        align-items: stretch;
        background: $richie-topbar-background;
        justify-content: space-between;

        @include breakpoint($richie-topbar-breakpoint) {
            @include sv-flex(0, 0, auto);
            box-shadow: none;
        }

        // Clickable logo
        &__link {
            @include sv-flex(0, 0, auto);
            padding: $richie-topbar-brand-margin;
            order: 1;
            width: $richie-topbar-brand-link-width;

            @include breakpoint($richie-topbar-breakpoint) {
                @include sv-flex(0, 0, auto);
            }
        }

        &__logo {
            display: block;
        }
    }

    // Main menu for pages
    &__menu {
        @include sv-flex(1, 0, auto);
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: rem-calc(7px);

        @include breakpoint($richie-topbar-breakpoint) {
            align-items: center;
            display: flex;
            flex-wrap: nowrap;
        }

        &__list {
            $list-selector: &;

            @include sv-flex(1, 0, 100%);
            display: flex;
            margin: $richie-topbar-menu-list-margin;
            padding: $richie-topbar-menu-list-padding;
            flex-direction: column;
            list-style-type: none;
            color: $richie-topbar-menu-list-fontcolor;
            background: $richie-topbar-menu-list-background;

            @include breakpoint($richie-topbar-breakpoint) {
                @include sv-flex(1, 0, auto);
                display: flex;
                flex-direction: row;
                color: $richie-topbar-menu-list-fontcolor-lg;
                background: $richie-topbar-menu-list-background-lg;
            }

            // Menu item container
            &__item {
                $item-selector: &;

                &:first-child:before {
                    display: none;
                }

                @include sv-flex(1, 0, auto);
                display: flex;
                margin: $richie-topbar-menu-item-margin;
                padding: $richie-topbar-menu-item-padding;
                color: $richie-topbar-menu-item-fontcolor;
                font-weight: 900;
                letter-spacing: 0.075em;
                line-height: calc(19 / 16);
                position: relative;
                text-transform: uppercase;

                @include breakpoint($richie-topbar-breakpoint) {
                    @include sv-flex(0, 0, auto);

                    &:before {
                        background-image: url('../../images/menu-separator.svg');
                        background-position: 0 center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        content: '';
                        display: block;
                        height: 4px;
                        left: 0;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        width: 13px;
                    }
                }

                &--language {
                    text-transform: uppercase;
                }

                &--active {
                    font-weight: bold;
                }

                // Item link where every spacing is done
                &__link {
                    @include sv-flex(1, 0, 100%);
                    display: block;
                    flex-direction: row;
                    padding: $richie-topbar-menu-link-padding;
                    font-size: $richie-topbar-menu-link-fontsize;
                    color: $richie-topbar-menu-link-fontcolor;
                    text-decoration: none;

                    @include breakpoint($richie-topbar-breakpoint) {
                        padding: $richie-topbar-menu-link-padding-lg;
                        font-size: $richie-topbar-menu-link-fontsize-lg;
                        color: $richie-topbar-menu-link-fontcolor-lg;
                    }

                    &:hover {
                        color: $richie-topbar-menu-link-fontcolor-hover;
                        text-decoration: none;
                    }
                }

                // Current page item or current ancestor
                &--selected,
                &--ancestor {
                    #{$item-selector}__link {
                        border-left: $richie-topbar-menu-item-active-border;

                        &:hover {
                            color: var(--color-primary);
                        }

                        @include breakpoint($richie-topbar-breakpoint) {
                            position: relative;
                            border-left: 0;

                            &:after {
                                @include triangle(up, 24px, var(--color-primary));
                                content: '';
                                position: absolute;
                                bottom: rem-calc(-26px);
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }

                // Specicif displays for some special button
                &--cta {
                    color: $richie-topbar-menu-cta-fontcolor;
                    font-weight: $richie-topbar-menu-cta-fontweight;
                    background-color: $richie-topbar-menu-cta-background;
                }

                &--cta-hollow {
                    color: $richie-topbar-menu-cta-hollow-fontcolor;
                    font-weight: $richie-topbar-menu-cta-hollow-fontweight;
                    background-color: $richie-topbar-menu-cta-hollow-background;
                }

                // Item divider
                & + #{$item-selector} {
                    border-top: $richie-topbar-menu-item-divider-border;
                    @include breakpoint($richie-topbar-breakpoint) {
                        border-top: 0;
                        border-left: $richie-topbar-menu-item-divider-border-lg;
                    }
                }
            }

            &--aside {
                @include sv-flex(0, 0, 100%);

                #{$list-selector}__item{
                    font-weight: normal;
                    margin-left: rem-calc(10px);
                    letter-spacing: 0.05em;

                    &--active {
                        font-weight: bold;

                        a,
                        a:hover {
                            background-color: var(--color-primary-darker);
                        }
                    }
                }
                #{$list-selector}__item__link {
                    background-color: var(--color-primary);
                    color: var(--color-white);
                    padding-left: 0.563rem;
                    padding-right: 0.563rem;


                    &:hover {
                        background-color: var(--color-primary-light);
                    }
                }

                @include breakpoint($richie-topbar-breakpoint) {
                    @include sv-flex(0, 0, auto);

                    .topbar__menu__list__item{

                        &:before {
                            display: none;
                        }
                    }

                }
            }

            // Menu divider
            & + #{$list-selector} {
                border-top: $richie-topbar-menu-divider-border;
                @include breakpoint($richie-topbar-breakpoint) {
                    border-top: $richie-topbar-menu-divider-border-lg;
                }
            }
        }
    }

    // Opened state for mobile mode
    &.is-open {
        #{$topbar-selector}__menu {
            display: flex;
        }
    }
}
